section{
    margin-top: 10%;
    background: linear-gradient(#000000);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    
}


button{
    background-color: #111d5e;
    border: #707070;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0;
    width: 300px;
    
}


a{
    color: rgb(228, 228, 228);
}