div{
    padding-top: 50px;
    color: rgb(0, 0, 0);
    font-size: 100px;
    font-family: 'Ubuntu', sans-serif;

}

p{
    text-align: center;
    padding-top: 20px;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
 
}

.wrap {
    margin: 0px auto;
    width: 486px;
  }
  
 
  
  .text {
    text-align: center;
    margin-top: 56px;
    color: rgb(0, 0, 0);
    font-size: 1.0em;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
  }
  
  .animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
.menor{
  margin-left: 10px;
}

footer{
  background-color: #ffffff;
  height: 25px;
  width: 100%;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;

  
}
  
@keyframes pulse {
    0% {transform: scale(1);}
    50% {transform: scale(1.1);}
    100% {transform: scale(1);}
  }
  .pulse {
    animation-name: pulse;
    animation-duration: 1s;
  }
  @media only screen and (max-width: 600px){
    .wrap{
      margin-left: -45px;
    }
    .menor{
      margin-left: 20px;
    }
}