
.contenedor{
    margin-top: 10%;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40px;
    padding: 60px 68px 40px;
    min-height: 200px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    align-items: center;
    margin-left: 30%;

}

header{
    background-color: #01a9b4;
    height: 70px;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}

.contenedor--form{
    display: flex;

}
.contenedor--form label{
    font-size: 14px;
}

.cantidad{
    color: rgb(0, 0, 0);
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid rgb(0, 0, 0);
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 15px;
    padding: 0 15px;
    outline: none;
    height: 50px;
}

.button{
    background-color: rgb(15, 12, 216);
    border: #363636;
    border-radius: 25px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0;
    margin-top: 100px;
    float: left;

}



footer{
    background-color: #ffffff;
    height: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
  
    
  }

  @media only screen and (max-width: 600px){
    .contenedor{
        background-color: transparent;
        border-color: transparent;
        width: 0px;
        margin-top: -100px;
    }

    input{
        width: 100px;
    }

    .button{
        margin-top: 400px;
        background-color: rgb(206, 206, 206);
        height: 100px;
        
    }
    
}