.verificar_s{
    background: linear-gradient(#000000);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;

}


.verificar_s--form{
    margin-top: 10%;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 40px;
    padding: 60px 68px 40px;
    min-height: 200px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;

}

.verificar_s--form_list{
    display: flex;
    flex-direction: column;
}

select{
    background-color: transparent;
    border: #707070;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0;
    width: 300px;
    text-decoration: none;
}

input{
    background-color: transparent;
    border: #707070;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0;
    width: 300px;
    text-decoration: none;
}